<h1 md-dialog-title>Custom Theme</h1>
<div md-dialog-content>
<input [colorPicker]="primary"
        (colorPickerChange)="primary=$event"
        [style.background]="primary"
        [cpOKButton]="true"/>
         
<input [colorPicker]="accent"
        (colorPickerChange)="accent=$event"
        [style.background]="accent"
        [cpOKButton]="true"/>
</div>
<div md-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="applyCustomTheme()">Apply</button>
  <button class="mat-raised-button mat-accent" (click)="dialogRef.close(false)">Close</button>
</div>