<div class="dynamic-field form-input" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" *ngIf="!config.isHidden">
	<mat-form-field class="full-width">
		<input mdInput [type]="config.inputType ? config.inputType : 'text'"
			[placeholder]="config.placeholder"
			[attr.value]="config.value"
			[formControlName]="config.name"
			[readonly]="config.readonly"
      [required]="config.required">
	</mat-form-field>
	<tooltip *ngIf="config.tooltip" [message]="config.tooltip"></tooltip>
	<mat-error *ngIf="config.hasErrors">{{config.errors}}</mat-error>
</div>
