	<div class="entity-cards-container">
	<div *ngFor="let card of cards; let i=index" class="entity-card-wrapper">
		<!-- 
		 Create ng-templates that you inject into the entity-card component. 
		 Keep in mind, entity-card is injecting your ng-template into an <md-card> 
		 so you can use almost any of the usual components like <md-header>, 
		 <md-content> etc. except for md-footer. The entity-card will provide 
		 the controls there.
		-->
		<ng-template #cardfront let-name="name">
			<h3 style="text-align:center;opacity:0.75;"> 
				{{ cards[i].fullname  }} 
			  <br>
				<span style="font-size:14px;">({{ cards[i].username }})</span>
			</h3>
    </ng-template>

		<ng-template #cardback let-name="name" >
			<example-cards-form *ngIf="tpl == 'users' " [userId]="cards[i].id" (cancel)="toggleForm($event,cards[i])"></example-cards-form>
    </ng-template>

		<entity-card [conf]="cards[i]" [front]="cardfront" [back]="cardback"></entity-card>
  </div>

</div>
