<ng-template [ngTemplateOutlet]="templateTop" [ngTemplateOutletContext]="this"></ng-template>
<p *ngIf="!hasConf"> Please
<button
    md-raised-button color="primary"
    class="btn btn-link"
    type="button"
    (click)="goConf()">Click here</button> to setup configuration first.
</p>
<p *ngIf="success" type="success">Successfully updated.</p>
<p *ngIf="error" type="danger"><span [innerHTML]="error"></span></p>

<md-card class="material mat-card p-0">
	<div class="mat-toolbar mat-card-toolbar">
		<md-card-title class="mat-card-title-text" [title]="title"></md-card-title>
		<div>
		<smd-fab-speed-dial #myFab [direction]="direction" [animationMode]="animationMode"
				(mouseenter)="myFab.open = true" (mouseleave)="myFab.open = false">
			<smd-fab-trigger [spin]="spin">
				<button md-fab><md-icon>list</md-icon></button>
			</smd-fab-trigger>

			<smd-fab-actions>
				<button *ngFor="let action of actions"
				md-mini-fab (click)="action.onClick()" mdTooltip="{{action.label}}">
					<md-icon>{{action.icon}}</md-icon>
				</button>
			</smd-fab-actions>
		</smd-fab-speed-dial>
	</div>
	</div>
	
    <md-card-content class="ml-1 mr-1 mt-1 mb-05">
            <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup" class="form-wrap">
            <ng-container *ngFor="let field of fieldConfig; let i = index">
                <div [ngClass]="field.class == 'inline' ? 'form-inline' : 'form-line'" id="{{i}}">
                    <div dynamicField [config]="field" [group]="formGroup" [fieldShow]="isShow(field.name) ? 'show' :'hide'">
                    </div>
                </div>
            </ng-container>
            <md-card-actions class="m-3333">
                <button class="btn btn-block btn-warning" type="submit" md-raised-button color="primary">Save</button>
                <button *ngIf="conf.route_success" class="btn  btn-block btn-raised btn-lg btn-primary" type="button" (click)="goBack()" md-raised-button color="accent">Cancel</button>
                <span *ngFor="let custBtn of conf.custActions">
                <button md-raised-button *ngIf="!conf.isCustActionVisible || conf.isCustActionVisible(custBtn.id)" type="button" (click)="custBtn['function']()">{{custBtn.name}}</button>
                </span>
                <button md-raised-button *ngIf="conf.route_delete" class="btn btn-block btn-danger" type="button" (click)="gotoDelete()">Delete</button>
            </md-card-actions>
        </form>
</md-card-content>
</md-card>
