
<div *ngIf="error" [style.color]="'red'" [innerHTML]="error"></div>

    <md-card class="m-3">
      <md-input-container>
        <input mdInput placeholder="Name" [(ngModel)]="name" value="Sharky Zedeffus" required>
      </md-input-container>    

      <!-- <input class="form-control" placeholder="Name" required/> -->
      <md-checkbox [(ngModel)]="isEncrypted" class="form-control" placeholder="Encryption" (change)="isEncryptedChecked()" >Encryption</md-checkbox>
    </md-card>

    <md-card class="m-3">
      <md-card-title>Disks</md-card-title>
        <md-card-content class="">
         <md-input-container>
          <input mdInput
            id="nameFilter"
            type='text'
            placeholder='Filter disks by name'
            (keyup)='updateFilter($event)' />
        </md-input-container>

        <md-input-container>
          <input mdInput
            id="capacityFilter"
            type='text'
            placeholder='Filter disks by capacity'
            (keyup)='updateFilter($event)' />
        </md-input-container>
        <md-error *ngIf="re_has_errors">{{re_errors}}</md-error>
        <ngx-datatable
          #table
          class="material m-1" 
          [rows]="disks" 
          [headerHeight]="'.9rem'" 
          [rowHeight]="'.9rem'"
          [footerHeight]="'.9rem'" 
          [columnMode]="'flex'"
          [limit]="10"
          [selected] = "selected"
          [selectionType]="'checkbox'"
          (select)='onSelect($event)'>
          <ngx-datatable-column
            [width]="30"
            [flexGrow]="0"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="4"
            name="Disk" 
            prop="devname"> 
          </ngx-datatable-column>
          <ngx-datatable-column            
            [flexGrow]="2"
            name="Capacity" 
            prop="capacity">
          </ngx-datatable-column>
        </ngx-datatable>
        </md-card-content>
    </md-card>


      <md-card class="m-3">
      <md-card-title>Data Disk Groups (vdevs)</md-card-title>
        <app-vdev *ngFor="let vdev of vdevs.data; let i = index" [group]="'data'" [manager]="this" [index]="i"></app-vdev>
        <button md-raised-button class="btn  btn-block btn-raised btn-lg btn-primary" (click)="addVdev('data')" md-raised-button color="primary">Add Data</button>
      </md-card>


      <md-card class="m-3">
      <md-card-title>Cache Disk Groups (L2ARC vdevs)</md-card-title>
          <app-vdev *ngFor="let vdev of vdevs.cache; let i = index" [group]="'cache'" [manager]="this" [index]="i"></app-vdev>
          <button *ngIf="vdevs.cache.length === 0" md-raised-button class="btn  btn-block btn-raised btn-lg btn-primary" (click)="addVdev('cache')" md-raised-button color="primary">Add Cache</button>
      </md-card>

      <md-card class="m-3">
      <md-card-title>Log Disk Groups (ZIL vdevs)</md-card-title>
          <app-vdev *ngFor="let vdev of vdevs.log; let i = index" [group]="'log'" [manager]="this" [index]="i"></app-vdev>
          <button *ngIf="vdevs.log.length === 0" md-raised-button class="btn  btn-block btn-raised btn-lg btn-primary" (click)="addVdev('log')" md-raised-button color="primary">Add Log</button>
      </md-card>

      <md-card class="m-3">
      <md-card-title>Spare Disk Groups</md-card-title>
          <app-vdev *ngFor="let vdev of vdevs.spare; let i = index" [group]="'spare'" [manager]="this" [index]="i"></app-vdev>
          <button *ngIf="vdevs.spare.length === 0" md-raised-button class="btn  btn-block btn-raised btn-lg btn-primary" (click)="addVdev('spare')" md-raised-button color="primary">Add Spare</button>
      </md-card>

      <button md-raised-button class="btn btn-info m-1" (click)="doSubmit()" color="primary">Create</button>
      <button md-raised-button class="btn  btn-block btn-raised btn-lg btn-primary m-1" type="button" (click)="goBack()" color="accent">Cancel</button>