<fab-speed-dial #myFab [direction]="direction" [animationMode]="animationMode" [fixed]="fixed"
                    (mouseenter)="myFab.open = true" (mouseleave)="myFab.open = false">
    <fab-trigger [spin]="spin">
        <button md-fab (click)="_click('trigger')"><md-icon>check</md-icon></button>
    </fab-trigger>

    <fab-actions>
        <button md-mini-fab (click)="_click('action1')"><md-icon>add</md-icon></button>
        <button md-mini-fab (click)="_click('action2')"><md-icon>edit</md-icon></button>
        <button md-mini-fab (click)="_click('action3')"><md-icon>menu</md-icon></button>
    </fab-actions>
</fab-speed-dial>