<div class="dynamic-field form-input" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" *ngIf="!config.isHidden">
	<mat-input-container class="full-width">
		<input mdInput [matDatepicker]="picker" 
			[placeholder]="config.placeholder"
			[value]="config.value"
			[formControlName]="config.name">
			<!-- 
				button matSuffix [matDatepickerToggle]="picker"></button 
			-->
		<button matSuffix></button>
		<mat-datepicker #picker></mat-datepicker>
	</mat-input-container>
	<tooltip *ngIf="config.tooltip" [message]="config.tooltip"></tooltip>
	<mat-error *ngIf="config.hasErrors">{{config.errors}}</mat-error>
</div>
