
/* --- 3 dots action button icon --- */
.more_actions { 
    position: relative !important;
    float: right  !important;
    top: -20px !important ;
    right: 4px  !important;
    font-size: .5rem !important;
}
